---
import Header from "../components/Header.astro";
import Base from "../layouts/Base.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Document</title>
	</head>
	<body>
		<Base titre="Accueil">
			<h1>Accueil</h1>
		</Base>
	</body>
</html>
