---
import Header from "../components/Header.astro";
import Base from "../layouts/Base.astro";
import Card from "../components/card.astro";

import { getOffres } from "../backend.mjs";

const offres = await getOffres();
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>Offres</title>
    </head>
    <body>
        <Base titre="Offres">
            <div x-data="{ afficherfavori: false }">
                <button
                    @click="afficherfavori = !afficherfavori"
                    class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                >
                    <span x-show="!afficherfavori" class="block">
                        {offres.map((maison) => <Card {...maison} />)}
                    </span>
                    <span x-show="afficherfavori" class="block">
                        {
                            offres
                                .filter((maison) => maison.favori)
                                .map((maison) => <Card {...maison} />)
                        }</span
                    >
                </button>

                <!-- Liste des offres -->
                <div x-show="!afficherfavori"></div>
                <div x-show="afficherfavori"></div>
            </div>
            <p>{offres.nom_maison}</p>
        </Base>
    </body>
</html>
