<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2021 - All rights reserved</p>
            </div>
            <div class="col-md-6">
                <p class="text-end">
                    Made with ❤️ by <a
                        href="https://twitter.com/ajayns04"
                        target="_blank">Ajay NS</a>
                </p>
            </div>
        </div>
    </div>
</footer>
