<footer class="bg-gray-800 text-white py-6">
    <div
        class="container mx-auto px-4 flex flex-col md:flex-row justify-between items-center"
    >
        <!-- Colonne gauche -->
        <div class="text-center md:text-left">
            <p>&copy; 2025 - All rights reserved</p>
        </div>
        <!-- Colonne droite -->
        <div class="text-center md:text-right mt-4 md:mt-0">
            <p>
                Made with ❤️ by
                <a
                    href="https://twitter.com/ajayns04"
                    target="_blank"
                    class="text-blue-400 hover:text-blue-600"
                >
                    Ajay NS
                </a>
            </p>
        </div>
    </div>
</footer>
